#game {
  max-width: 500px;
}

html,
body {
  height: 100%;
  overflow: hidden;
  overscroll-behavior-y: contain;
  position: relative;
  -webkit-touch-callout: none; /* Safari */
  -webkit-user-select: none; /* Chrome */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  touch-action: manipulation;
  background: 'black';
}

canvas {
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
  background: 'white';
}

.image-lock {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  z-index: 100;
}

@media (orientation: landscape) {
  .image-lock {
    display: block;
  }
}

.mobile-only {
  display: flex;
  position: absolute;
  height: 100vh;
  width: 100vw;
  left: 0;
  top: 0;
  font-size: 4rem;
  z-index: 10000;
  justify-content: center;
  align-items: center;
  background: white;
}

@media (pointer: none), (pointer: coarse) {
  .mobile-only {
    display: none;
  }
}
